.input-group-text {
  height: 38px;
  padding: 0;
  width: 60px;
  justify-content: center;
  cursor: pointer;
}

.input-group {
  margin: 8px 0px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
